<div class="job">

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Origin:</strong>
  <%= Job::Places.get_location(@job.origin) %>
</p>

<p>
  <strong>Destination:</strong>
  <%= Job::Places.get_location(@job.destination) %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @job.cost %>
</p>

<p>
  <strong>Containers:</strong>
  <%= @job.containers %>
</p>

<h3>Boat Assigned to this Job</h3>
<% @job.boats.each do |boat| %>
<p><%= boat.name %></p>
<% end %>

<p><%= @job.created_at.to_date %></p>

<% if company_signed_in? %>
  <% if current_company.id == @job.company.id %>
    <%= link_to 'Edit Job', edit_job_path(@job) %> |
    <%= link_to 'Delete Job', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
</div>