<div class="job"><p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Origin:</strong>
  <%= Job::Places.get_location(@job.origin) %>
</p>

<p>
  <strong>Destination:</strong>
  <%= Job::Places.get_location(@job.destination) %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @job.cost %>
</p>

<p>
  <strong>Containers:</strong>
  <%= @job.containers %>
</p>

<p><%= @job.created_at.to_date %></p>

<%= link_to 'Edit Job', edit_job_path(@job) %> |
<%= link_to 'Delete Job', @job, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>

<h3>Boats Assigned to this Job</h3>
<% @job.boats.each do |boat| %>
  <p><%= boat.name %></p>
<% end %>

<h3>Add Boat to This Job</h3>
 <% boats_array = Boat.all.map {|boat| [boat.name, boat.id]} %>
          <%= form_for Boat.new, method: :addboat, remote: true, class: "assign" do |f| %>
          <td><%= select_tag(:boat_id, options_for_select(boats_array)) %></td>
          <td>
              <%= f.submit "Add Boat to Job" %>
            <% end %>

