<p id="notice"><%= notice %></p>

<% @user.boats.each do |boat| %>
	<p><%= boat.name %></p>
<% end %>

<% @user.jobs.each do |job| %>
	<p><%= job.name %></p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
