<div class="company"><p id="notice"><%= notice %></p>

<p>
  <strong>Company Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @company.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @company.lastname %>
</p>

<p>
  <strong>My Boats:</strong>
  <%= @company.boats.name %>
</p>

<p>
  <strong>My Jobs:</strong>
  <%= @company.jobs.name %>
</p>

<%= link_to 'New Boat', new_boat_path %>
<%= link_to 'New Job', new_job_path %>

<%= link_to 'Edit My Account', edit_company_path(@company) %>
<%= link_to 'Delete My Account', @company, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>