<div class="boats"><p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Container amount:</strong>
  <%= @boat.container_amount %>
</p>

<p>
  <strong>Location:</strong>
  <%= Boat::Places.get_location(@boat.location) %>
</p>

<%= link_to 'Edit Boat', edit_boat_path(@boat) %>
<%= link_to 'Delete Boat', @boat, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>