<div class="boats">

<p class="boatimageupload">
  <%= image_tag(@boat.image) if @boat.image? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Container amount:</strong>
  <%= @boat.container_amount %>
</p>

<p>
  <strong>Location:</strong>
  <%= Boat::Places.get_location(@boat.location) %>
</p>

<% if company_signed_in? %>
  <% if current_company.id == @boat.company.id %>
	<%= link_to 'Edit Boat', edit_boat_path(@boat) %>
	<%= link_to 'Delete Boat', @boat, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

</div>