<!DOCTYPE html>
<html>
  <head>
    <title>Shipped</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <ul>
        <li><%= link_to "Home", :root %></li>
        <li><%= link_to "Companies", :companies %></li>
        <li><%= link_to "Boats", :boats %></li>
        <li><%= link_to "Jobs", :jobs %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
